{% extends '@ReaccionCMSAdminBundle/base.html.twig' %}

{% block reaccion_cms_admin_body %}

<div class="my-3 my-md-5">

	<div class="container">
  
		<div class="page-header">
  		<div class="col pl-0">
    		<h1 class="page-title">{{ 'themes.title' | trans }}</h1>
    	</div>
  		<div class="col col-lg-2 row justify-content-end">
        <!--
  			<a href="{{ url('reaccion_cms_admin_create_media') }}" class="btn btn-primary">
  				<i class="fe fe-plus"></i>&nbsp;&nbsp;{{ 'themes.add_new' | trans }}
  			</a>
        -->
  		</div>
    </div>

    {% embed '@ReaccionCMSAdminBundle/shared/flash_messages.html.twig' with {'extraClasses' : 'pl-0 pr-0'} %}{% endembed %}

    <!-- pagination -->
    <div class="mb-4 row">
      <div class="col-6">
        
      </div>
      <div class="col-6 embed-pagination">
        
      </div>
    </div><!-- end pagination -->

    <!-- themes list -->
    <div id="themes_card_columns" class="card-columns">

      {% for theme in themes %}

      <div class="card">
        
        {% if theme.preview_image is defined and theme.preview_image is not empty %}
        <a href="#">
          <img class="card-img-top" src="{{ asset('build/' ~ theme.preview_image) }}" />
        </a>
        {% endif %}

        <div class="card-body d-flex flex-column">
          <h5 class="card-title">
            <a href="#"><strong>{{ theme.name }}</strong></a>
            {% if theme.folder_name == getConfigValue('current_theme') %}
            <!-- current tag -->
            <span class="ml-1 tag tag-blue">{{ 'themes.current' | trans }}</span>
            <!-- end current tag -->
            {% endif %}
          </h5>
          <div class="text-muted">{{ theme.description }}</div>
          <div class="d-flex align-items-center pt-5 mt-auto">
            <div>
              {% if theme.author is defined and theme.author is not empty %}
              <i class="fe fe-user"></i>&nbsp;&nbsp;{{ theme.author }}
              {% endif %}
              
              {% if theme.website is defined and theme.website is not empty %}
              <div class="d-block ">
                <i class="fe fe-globe"></i>&nbsp;&nbsp;<small class="text-muted">{{ theme.website }}</small>
              </div>
              {% endif %}
            </div>
            <div class="ml-auto text-muted">{{ 'themes.version' | trans }} {{ theme.version }}</div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <!-- end themes list -->

  </div>

</div>
{% endblock %}