{% extends '@ReaccionCMSAdminBundle/base.html.twig' %}

{% block reaccion_cms_admin_body %}

<div class="my-3 my-md-5">

	<div class="container">

		<div class="page-header">
			<div class="col pl-0">
	    		<h1 class="page-title">{{ 'menu_content.title' | trans({ '%name%' : menu.name }) | raw }}</h1>
	    	</div>
	    	<div class="col col-lg-6 row justify-content-end">

	    		<!-- go back btn -->
    			<a href="{{ url('reaccion_cms_admin_appearance_menu') }}" class="btn btn-secondary mr-2">
    				<i class="fe fe-arrow-left"></i>&nbsp;&nbsp;{{ 'menu_form.go_to_menu_list' | trans }}
    			</a>

	    		<!-- go back btn -->
    			<a href="{{ url('reaccion_cms_admin_appearance_menu_detail', { 'menu' : menu.id }) }}" class="btn btn-primary mr-2">
    				<i class="fe fe-edit"></i>&nbsp;&nbsp;{{ 'crud.edit' | trans }}
    			</a>

	    		<!-- remove btn -->
    			<a href="{{ url('reaccion_cms_admin_appearance_menu_remove', {'menu' : menu.id}) }}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="{{ 'crud.remove' | trans }}" data-detele-confirm="true">
    				<i class="fe fe-trash-2"></i>&nbsp;&nbsp;{{ 'crud.remove' | trans }}
    			</a>

    		</div>
	    </div>

	    {% embed '@ReaccionCMSAdminBundle/shared/flash_messages.html.twig' with {'extraClasses' : 'pl-0 pr-0'} %}{% endembed %}

	    <!-- list -->
	    <div class="row row-cards">

  			<div class="col-12">
                
                <div class="card">

                	<div class="col-6 pb-4 mx-4" id="menu_list">

                		<!-- flash messages -->
                		{% embed '@ReaccionCMSAdminBundle/shared/flash_messages.html.twig' %}{% endembed %}

                		<!-- macro definition -->
                		{% macro listMenu(menu, menuItem) %}
                		{% import _self as self %}

					    	<li>
					    		<a href="{{ url('reaccion_cms_admin_appearance_menu_content_edit', { 'menu' : menu.id, 'menuContent' : menuItem.id }) }}">{{ menuItem.name }}</a>
					    		<a href="{{ url('reaccion_cms_admin_appearance_menu_content_edit', { 'menu' : menu.id, 'menuContent' : menuItem.id }) }}" class="text-info ml-2" title="{{ 'crud.edit' | trans }}" data-toggle="tooltip" data-placement="top">
					    			<i class="fe fe-edit"></i>
					    		</a>
					    		<a href="{{ url('reaccion_cms_admin_appearance_menu_content_remove', { 'menu' : menu.id, 'menuContent' : menuItem.id }) }}" class="text-red" data-toggle="tooltip" data-placement="top" title="{{ 'crud.remove' | trans }}" data-detele-confirm="true">
					    			<i class="fe fe-trash-2"></i>
					    		</a>

					    		{% embed '@ReaccionCMSAdminBundle/menu/content/position_arrows.html.twig' %}{% endembed %}

					    		{% set parentId = menuItem.id %}

				        	{% if menuItem.children is defined and menuItem.children is not empty %}
								<ul>
				                	{% for child in menuItem.children %}
				                    	{{ self.listMenu(menu, child) }}
				                	{% endfor %}
				                	<li>
				                		<a href="{{ url('reaccion_cms_admin_appearance_menu_content_create', { 'menu' : menu.id, 'parent' : parentId }) }}" class="tag tag-gray-dark">{{ 'menu_content.add_item' | trans }}</a>
				                	</li>
					        	</ul>
					        {% else %}
					        	<ul>
				                	<li>
				                		<a href="{{ url('reaccion_cms_admin_appearance_menu_content_create', { 'menu': menu.id, 'parent' : parentId }) }}" class="tag tag-gray-dark">{{ 'menu_content.add_item' | trans }}</a>
				                	</li>
					        	</ul>
					        {% endif %}

					        </li>

						{% endmacro %}

						<!-- run macro -->
						{% from _self import listMenu %}

						<h2 class="pt-3">{{ menu.name }}</h2>

						<ul class="tree">
					    	
					    	{% for menu_item in menuContent %}
						   		{{ listMenu(menu, menu_item) }}
					    	{% endfor %}

					    	<li>
		                		<a href="{{ url('reaccion_cms_admin_appearance_menu_content_create', { 'parent' : 0, 'menu' : menu.id }) }}" class="tag tag-gray-dark">{{ 'menu_content.add_item' | trans }}</a>
		                	</li>

						</ul>

                	</div>

	    		</div>

	    	</div>

	    </div>

	</div>

</div>

{% endblock %}