{% extends '@ReaccionCMSAdminBundle/base.html.twig' %}

{% block reaccion_cms_admin_body %}

<div class="my-3 my-md-5">

  <div class="container">

    <div class="page-header">
    	<h1 class="page-title">{{ 'dashboard.title' | trans }}</h1>
    </div>

    <!-- cards -->
    <div class="row row-cards">

    	<!-- count content cards -->
	    <div class="col-6 col-sm-4 col-lg-2">
	        <div class="card">
	          <div class="card-body p-3 text-center">
	            <div class="h1 m-0">{{ widgetStats.pages }}</div>
	            <div class="text-muted mb-4">{{ 'dashboard.pages' | trans }}</div>
	          </div>
	        </div>
	    </div>
	    <div class="col-6 col-sm-4 col-lg-2">
	        <div class="card">
	          <div class="card-body p-3 text-center">
	            <div class="h1 m-0">{{ widgetStats.pageContent }}</div>
	            <div class="text-muted mb-4">{{ 'dashboard.content_rows' | trans }}</div>
	          </div>
	        </div>
	    </div>
	    <div class="col-6 col-sm-4 col-lg-2">
	        <div class="card">
	          <div class="card-body p-3 text-center">
	          	<div class="h1 m-0">{{ widgetStats.media }}</div>
	            <div class="text-muted mb-4">{{ 'dashboard.media_content' | trans }}</div>
	          </div>
	        </div>
	    </div>
	    <div class="col-6 col-sm-4 col-lg-2">
	        <div class="card">
	          <div class="card-body p-3 text-center">
	          	<div class="h1 m-0">{{ widgetStats.entries }}</div>
	            <div class="text-muted mb-4">{{ 'dashboard.entries' | trans }}</div>
	          </div>
	        </div>
	    </div>
	    <div class="col-6 col-sm-4 col-lg-2">
	        <div class="card">
	          <div class="card-body p-3 text-center">
	          	<div class="h1 m-0">{{ widgetStats.comments }}</div>
              <div class="text-muted mb-4">{{ 'dashboard.comments' | trans }}</div>
	          </div>
	        </div>
	    </div>
	    <div class="col-6 col-sm-4 col-lg-2">
	        <div class="card">
	          <div class="card-body p-3 text-center">
	            <div class="h1 m-0">{{ widgetStats.users }}</div>
	            <div class="text-muted mb-4">{{ 'dashboard.users' | trans }}</div>
	          </div>
	        </div>
	    </div>
	    <!-- END - count content cards -->
      	
    </div>

  </div>
  
</div>
{% endblock %}