<div class="header py-4">
  	<div class="container">
        <div class="d-flex">
      		<a class="header-brand" href="{{ url('reaccion_cms_admin_index') }}">
        		<img src="https://www.socairepsicologia.com/build/logo.svg" class="header-brand-img" alt="logo" />
      		</a>
          <div class="d-flex order-lg-2 ml-auto">
            <div class="nav-item d-none d-md-flex">
              <a href="/" class="btn btn-sm btn-outline-primary">{{ 'navigation.go_to_website' | trans }}</a>
            </div>

            <div class="dropdown">
              <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                <!--<span class="avatar" style="background-image: url(./demo/faces/female/25.jpg)"></span>-->
                <span class="ml-2 d-none d-lg-block">
                  <span class="text-default">{{ getUserNickname(app.user) }}</span>
                  <small class="text-muted d-block mt-1">{{ getUserMainRoleTranslationKey(app.user) | trans }}</small>
                </span>
              </a>

              <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                <a class="dropdown-item" href="{{ url('reaccion_cms_admin_users_update', { 'user' : app.user.id }) }}">
                  <i class="dropdown-icon fe fe-user"></i> {{ 'user_dropdown.profile' | trans }}
                </a>
                <!--
                <a class="dropdown-item" href="#">
                  <span class="float-right"><span class="badge badge-primary">6</span></span>
                  <i class="dropdown-icon fe fe-mail"></i> Inbox
                </a>
                -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url('logout') }}">
                  <i class="dropdown-icon fe fe-log-out"></i> {{ 'user_dropdown.sign_out' | trans }}
                </a>
              </div>
            </div>
          </div>
          <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
            <span class="header-toggler-icon"></span>
          </a>
        </div>
  	</div>
</div>

<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    
    <div class="container">

        <div class="row align-items-center">

          <!--
          <div class="col-lg-3 ml-auto">
            <form class="input-icon my-3 my-lg-0">
              <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
              <div class="input-icon-addon">
                <i class="fe fe-search"></i>
              </div>
            </form>
          </div>
          -->

          <div class="col-lg order-lg-first">

            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

              <li class="nav-item">
                <a href="{{ url('reaccion_cms_admin_index') }}" class="nav-link {{isActive('index')}}"><i class="fe fe-home"></i>&nbsp;&nbsp;{{ 'home.title' | trans }}</a>
              </li>

              <li class="nav-item dropdown">
                <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-file-text "></i>&nbsp;&nbsp;Actividades</a>
                <div class="dropdown-menu dropdown-menu-arrow">
                  <a href="{{ url('reaccion_cms_admin_activities_list') }}" class="dropdown-item ">Listado de actividades</a>
                  <a href="{{ url('reaccion_cms_admin_activities_create') }}" class="dropdown-item ">Crear actividad</a>
                </div>
              </li>

              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link {{isActive('entries', true)}}" data-toggle="dropdown"><i class="fe fe-file-text"></i>&nbsp;&nbsp;{{ 'entries.title' | trans }}</a>
                <div class="dropdown-menu dropdown-menu-arrow">
                  <a href="{{ url('reaccion_cms_admin_entries_list') }}" class="dropdown-item {{isActive('entries_list')}}">{{ 'entries.list_title' | trans }}</a>
                  <a href="{{ url('reaccion_cms_admin_entries_create') }}" class="dropdown-item {{isActive('entries_create')}}">{{ 'entries.create_title' | trans }}</a>
                  <div class="dropdown-divider"></div>
                  <a href="{{ url('reaccion_cms_admin_entries_categories_list') }}" class="dropdown-item {{isActive('entries_categories_list')}}">{{ 'entries_categories.list' | trans }}</a>
                  <a href="{{ url('reaccion_cms_admin_entries_categories_create') }}" class="dropdown-item {{isActive('entries_categories_create')}}">{{ 'entries_categories.create' | trans }}</a>
                </div>
              </li>

              <li class="nav-item">
                <a href="{{ url('reaccion_cms_admin_media_index') }}" class="nav-link {{isActive('media_index')}}"><i class="fe fe-image"></i>&nbsp;&nbsp;{{ 'media.title' | trans }}</a>
              </li>

              <li class="nav-item dropdown">
                <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-users "></i>&nbsp;&nbsp;{{ 'users.title' | trans }}</a>
                <div class="dropdown-menu dropdown-menu-arrow">
                  <a href="{{ url('reaccion_cms_admin_users_index') }}" class="dropdown-item ">{{ 'users.list' | trans }}</a>
                  <a href="{{ url('reaccion_cms_admin_users_create') }}" class="dropdown-item ">{{ 'users.add' | trans }}</a>
                </div>
              </li>

            </ul>

          </div>
          
        </div>

    </div>

</div>
