{% extends '@ReaccionCMSAdminBundle/base.html.twig' %}

{% block reaccion_cms_admin_body %}

<div class="my-3 my-md-5">
    
  <div class="container">

    <h3>#{{page.id }} - {{ page.name }}</h3>

    <div class="card">

      <div class="card-header">

  	    <h3 class="card-title">
  				<i class="fe fe-layout"></i>&nbsp;&nbsp;{{ 'page_content_form.new_title' | trans }}
  			</h3>

      </div>

      {{ form_start(form, { attr : { 'class' : 'mb-0' } }) }}

      <div class="card-body">

        {% embed '@ReaccionCMSAdminBundle/pages/content/form.html.twig' %}{% endembed %}

      </div>

      <div class="card-footer text-center">
    		
        <button type="submit" class="btn btn-primary">
          <i class="fe fe-save"></i>&nbsp;&nbsp;{{ 'crud.save_changes' | trans }}
        </button>
        <a href="{{ url('reaccion_cms_admin_pages_detail', { page: page.id }) }}" class="btn btn-secondary">
          <i class="fe fe-arrow-left-circle"></i>&nbsp;&nbsp;{{ 'crud.go_back' | trans }}
        </a>
        
    	</div>
      
      {{ form_end(form) }}

    </div>

  </div>

</div>

{% endblock %}