{% extends '@ReaccionCMSAdminBundle/base.html.twig' %}

{% block reaccion_cms_admin_body %}

<div class="my-3 my-md-5">

  	<div class="container">

		<div class="row">
			<div class="col-12">
				{% if mode == 'create' %}
				<h3>{{ 'entries_form.title' | trans }}</h3>
				{% elseif mode == 'edit' %}
				<h3>{{ 'entries_form.update_title' | trans({ '%name%' : entryName }) | raw }}</h3>
				{% endif %}
			</div>
		</div>

        {% embed '@ReaccionCMSAdminBundle/shared/flash_messages.html.twig' with {'extraClasses' : 'pl-0 pr-0'} %}{% endembed %}

		{{ form_start(form) }}

		<div class="row">

			<!-- left column -->
        	<div class="col-lg-9">

        		<div class="card">

        			<div class="card-body">

		        		<div class="form-group">
				        	{{ form_widget(form.name) }}
				        </div>

		        		<div class="form-group">
				        	{{ form_widget(form.content) }}
				        </div>

				    </div>

			        <div class="card-footer text-right">
			      		<div class="d-flex">
			        		<a href="{{ url('reaccion_cms_admin_entries_list') }}" class="btn btn-link">{{ 'crud.cancel' | trans }}</a>
			        		<button type="submit" id="submit" class="btn btn-primary ml-auto">{{ 'crud.send_data' | trans }}</button>
			      		</div>
			    	</div>

		    	</div>

        	</div>

        	<!-- right column -->
        	<div class="col-lg-3" style="padding-right: 50px">

        		<!-- options -->
        		<div class="card">
        			<div class="card-header">
        				<i class="fe fe-settings"></i>&nbsp;&nbsp;{{ 'entries_form.options' | trans }}
        			</div>
        			<div class="card-body">

		        		<div class="form-group">
				        	{{ form_label(form.slug) }}
				        	{{ form_widget(form.slug) }}
		        		</div>

		        		<div class="form-group">
				        	{{ form_label(form.language) }}
				        	{{ form_widget(form.language) }}
		        		</div>

		        		<div class="form-group">
				        	{{ form_widget(form.enabled) }}
		        		</div>
	        		</div>
        		</div>

        		<!-- categories -->
        		<div class="card">
        			<div class="card-header">
        				<i class="fe fe-list"></i>&nbsp;&nbsp;{{ 'entries_form.categories' | trans }}
        			</div>
        			<div class="card-body">
		        		<div class="form-group">
				        	{{ form_widget(form.categories) }}
				        </div>
				    </div>
				</div>

				<!-- tags -->
				<div class="card">
        			<div class="card-header">
        				<i class="fe fe-tag"></i>&nbsp;&nbsp;{{ 'entries_form.tags' | trans }}
        			</div>
        			<div class="card-body">
		        		<div class="form-group">
				        	{{ form_widget(form.tags) }}
		        		</div>
	        		</div>
        		</div>

				<!-- tags -->
				<div class="card">
        			<div class="card-header">
						<i class="fe fe-image"></i>&nbsp;&nbsp;{{ 'entries_form.defaultImage' | trans }}
        			</div>
        			<div class="card-body">
		        		<div class="form-group text-center">
							{% if entry.defaultImage is defined and entry.defaultImage is not empty %}
							<div id="default_image_preview">
								<img src="{{ asset('uploads/' ~ entry.defaultImage.path) }}" class="mb-2" />
							</div>
							<a href="?removeDefaultImage=1" data-detele-confirm="true" type="button" class="btn btn-danger btn-block mb-2">
								<i class="fe fe-trash mr-2"></i>{{ 'crud.remove' | trans }}
							</a>
							{% endif %}
							{{ form_widget(form.defaultImageFile) }}
		        		</div>
	        		</div>
        		</div>

        	</div>

        </div>

        {{ form_end(form) }}

	</div>

</div>

{% endblock %}
