{% extends '@ReaccionCMSAdminBundle/base.html.twig' %}

{% block reaccion_cms_admin_body %}

<div class="my-3 my-md-5">

	<div class="container">

		<div class="page-header">
	    	<h1 class="page-title">{{ 'preferences_menu.title' | trans }}</h1>
	    </div>

	    {% embed '@ReaccionCMSAdminBundle/shared/flash_messages.html.twig' with {'extraClasses' : 'pl-0 pr-0'} %}{% endembed %}

	    <!-- list -->
	    <div class="row row-cards">

  			<div class="col-12">
                
                <div class="card">

                	<div class="col-6 pb-4 mx-4" id="menu_list">

                		<!-- flash messages -->
                		{% embed '@ReaccionCMSAdminBundle/shared/flash_messages.html.twig' %}{% endembed %}

                		<!-- macro definition -->
                		{% macro listMenu(menuItem) %}
                		{% import _self as self %}

					    	<li>
					    		<a href="#">{{ menuItem.name }}</a>
					    		<a href="#" class="text-info ml-2" title="{{ 'crud.edit' | trans }}" data-toggle="tooltip" data-placement="top">
					    			<i class="fe fe-edit"></i>
					    		</a>
					    		<a href="#" class="text-red" data-toggle="tooltip" data-placement="top" title="{{ 'crud.remove' | trans }}" data-detele-confirm="true">
					    			<i class="fe fe-trash-2"></i>
					    		</a>

				        	{% if menuItem.children is defined and menuItem.children is not empty %}
								<ul>
								{% set parentId = menuItem.children[0].parent_id %}
				                {% for child in menuItem.children %}
				                    {{ self.listMenu(child) }}
				                {% endfor %}
				                	<li>
				                		<a href="{{ url('reaccion_cms_admin_preferences_menu_create', { 'parent' : parentId }) }}" class="tag tag-gray-dark">{{ 'preferences_menu.add_item' | trans }}</a>
				                	</li>
					        	</ul>
					        {% endif %}

					        </li>

						{% endmacro %}

						<!-- run macro -->
						{% from _self import listMenu %}

						<ul class="tree">
					    	
					    	{% for menu_item in menu %}
						   		{{ listMenu(menu_item) }}
					    	{% endfor %}

					    	<li>
		                		<a href="{{ url('reaccion_cms_admin_preferences_menu_create', { 'parent' : 0 }) }}" class="tag tag-gray-dark">{{ 'preferences_menu.add_item' | trans }}</a>
		                	</li>

						</ul>

                	</div>

	    		</div>

	    	</div>

	    </div>

	</div>

</div>

{% endblock %}