<div class="card">

  {{ form_start(pageForm, { attr : { 'class' : 'mb-0' } }) }}

  <div class="card-header">
    <h3 class="card-title">
    	<i class="fe fe-file-text"></i>&nbsp;&nbsp;{{ 'page_detail.general_info_title' | trans }}
    </h3>
	</div>

  <div class="card-body">

    {{ form_widget(pageForm) }}

    {% if page.createdAt %}
    <div class="pt-4">
        <strong>{{ 'pages_list_table.created_at' | trans }}:</strong>
        <span class="ml-1">{{ page.createdAt | date('d/m/Y H:i:s') }}</span>
    </div>
    {% endif %}

    {% if page.updatedAt %}
    <div class="pt-2">
        <strong>{{ 'pages_list_table.updated_at' | trans }}:</strong>
        <span class="ml-1">{{ page.updatedAt | date('d/m/Y H:i:s') }}</span>
    </div>
    {% endif %}

  </div>

  <div class="card-footer text-center">
  	<button type="submit" class="btn btn-primary">
      <i class="fe fe-save"></i>&nbsp;&nbsp;{{ 'crud.save_changes' | trans }}
    </button>
  </div>

  {{ form_end(pageForm) }}

</div>