{% extends '@ReaccionCMSAdminBundle/base.html.twig' %}

{% block reaccion_cms_admin_body %}

<div class="my-3 my-md-5">

  	<div class="container">

  		<div class="page-header">
    		<div class="col pl-0">
	    		<h1 class="page-title">{{ 'config_list.title' | trans }}</h1>
	    	</div>
    		<div class="col col-lg-2 row justify-content-end">
    			<a href="{{ url('reaccion_cms_admin_preferences_create_configuration') }}" class="btn btn-primary">
    				<i class="fe fe-plus"></i>&nbsp;&nbsp;{{ 'config_list.create_new_value' | trans }}
    			</a>
    		</div>
	    </div>

        {% embed '@ReaccionCMSAdminBundle/shared/flash_messages.html.twig' %}{% endembed %}
        
	    <div class="row row-cards">

  			<div class="col-12">
                <div class="card">

                	{% embed '@ReaccionCMSAdminBundle/shared/crud/listCardHeader.html.twig' with { 'result' : config } %}{% endembed %}


                  	<div class="table-responsive">
	                    
	                    <table class="table card-table table-vcenter text-nowrap">

	                    	<thead>
	                        	<tr>
		                        	<th width="40%">{{ 'config_list.name' | trans }}</th>
		                        	<th width="40%">{{ 'config_list.value' | trans }}</th>
		                        	<th width="20%"></th>
		                        </tr>
		                    </thead>

		                    <tbody>

		                    	{% for row in config %}
		                    	<tr>
		                    		<td>
		                    			<a href="{{ url('reaccion_cms_admin_preferences_update_configuration', { 'config' : row.id }) }}" title="{{ row.name }}">{{ row.name }}</a>
		                    		</td>

		                    		{% if row.type == 'serialized' %}
		                    		<td>{{ printSerializedValueAsText(row.value) }}</td>
		                    		{% else %}
		                    		<td>{{ row.value }}</td>
		                    		{% endif %}

		                    		<td class="text-right">
			                    		
			                    		<a href="{{ url('reaccion_cms_admin_preferences_update_configuration', { 'config' : row.id }) }}" title="{{ 'crud.edit' | trans }}" data-toggle="tooltip" data-placement="top">
			                              <i class="fe fe-edit"></i>
			                            </a>
			                            &nbsp;

			                            {% if row.required != true %}
			                            <a class="text-danger" href="{{ url('reaccion_cms_admin_preferences_remove_configuration', { 'config' : row.id }) }}" data-toggle="tooltip" data-placement="top" title="{{ 'crud.remove' | trans }}" data-detele-confirm="true">
			                              <i class="fe fe-trash"></i>
			                            </a>
			                            {% else %}
			                            <i class="fe fe-trash text-muted"></i>
			                            {% endif %}

		                    		</td>
		                    	</tr>
		                    	{% endfor %}

		                    </tbody>

	                    </table>

	                </div>

	            </div>
	        </div>

	    </div>

  	</div>

</div>

{% endblock %}