{% extends '@ReaccionCMSAdminBundle/base.html.twig' %}

{% block reaccion_cms_admin_body %}

<div class="my-3 my-md-5">
    
    <div class="container">
        
        <h3>#{{page.id }} - {{ page.name }}</h3>

        <div class="row">

        	<div class="col-lg-4">

        		<!-- page general info -->
        		<div class="card">

                  	{{ form_start(pageForm, { attr : { 'class' : 'mb-0' } }) }}

    	            <div class="card-header">
	                    <h3 class="card-title">
	                    	<i class="fe fe-file-text"></i>&nbsp;&nbsp;General info
	                    </h3>
                  	</div>

                  	<div class="card-body">{{ form_widget(pageForm) }}</div>

                  	<div class="card-footer text-center">
                  		<button type="submit" class="btn btn-primary">Save changes</button>
                  	</div>

                  	{{ form_end(pageForm) }}

                </div><!-- end general info -->

                <!-- page seo -->
                <div class="card">

                	{{ form_start(seoPageForm, { attr : { 'class' : 'mb-0' } }) }}

	              	<div class="card-header">
		                <h3 class="card-title">
		                	<i class="fe fe-award"></i>&nbsp;&nbsp;SEO
		                </h3>
	              	</div>

	              	<div class="card-body">{{ form_widget(seoPageForm) }}</div>

	              	<div class="card-footer text-center">
                  		<button type="submit" class="btn btn-primary">Save changes</button>
                  	</div>

	              	{{ form_end(pageForm) }}

	            </div><!-- end page seo -->

        	</div>
        	
        	<div class="col-lg-8">

        		<div class="card">
        			
        			<div class="card-header">
        				<h3 class="card-title">
		                	<i class="fe fe-layout"></i>&nbsp;&nbsp;Content
		                </h3>
        			</div>
        			
        			<div class="card-body">
        				...
        			</div>

        		</div>

        	</div>

        </div>

    </div>

</div>

{% endblock %}